<footer class="footer-container">
  <div class="footer-links">
    <ul>
      <li><a href="#">Travel</a></li>
      <li><a href="#">Explore</a></li>
      <li><a href="#">About me</a></li>
    </ul>
  </div>

  <div class="footer-social">
    <a href="#"><img src="icon-facebook.png" alt="Facebook" /></a>
    <a href="#"><img src="icon-instagram.png" alt="Instagram" /></a>
    <a href="#"><img src="icon-twitter.png" alt="Twitter" /></a>
  </div>

  <div class="footer-copyright">
    <p>&copy; 2024 Amadeus-Travel, Inc.</p>
  </div>
</footer>
