<footer class="footer-container">
  <div class="footer-links">
    <ul>
      <li><a routerLink="form">Travel</a></li>
      <li><a routerLink="explore">Explore</a></li>
      <li><a routerLink="about">About me</a></li>
    </ul>
  </div>

  <div class="footer-social">
    <a href="https://twitter.com/amadeusitgroup" target="_blank"><span class="ri--twitter-x-fill"></span></a>
    <a href="https://www.instagram.com/amadeusnice/" target="_blank"><span class="mdi--instagram"></span></a>
    <a href="https://www.facebook.com/AmadeusITGroup/" target="_blank"><span class="ic--baseline-facebook"></span></a>
  </div>

  <div class="footer-copyright">
    <p>&copy; 2024 Amadeus-Travel, Inc.</p>
  </div>
</footer>
