<main class="main">
  <h2 class="title">Destinations</h2>
  <p class="text">
    Travel according to your dreams:
    <span>Discover destinations made for you.</span>
  </p>
  <section class="destinations-container">
    <app-destination
      img="{{ imgsDestinations.americaDestiny }}"
      name="{{ destinations[0].posibleDestinoAmerica }}"
      text="{{text}}"
    />
    <app-destination
      img="{{ imgsDestinations.europaDestiny }}"
      name="{{ destinations[0].posibleDestinoEuropa }}"
      text="{{text}}"
    />
  </section>
</main>
