<nav class="navbar">
    <picture class="navbar-logo">
      <img src="https://i.postimg.cc/C5sZswNG/amadeus-logo.png" alt="amadeus-logo">
    </picture>
    <ul class="navbar-menu">
      <li routerLinkActive="active"><a routerLink="travels">Travel</a></li>
      <li routerLinkActive="active"><a routerLink="explore" >Explore</a></li>
      <li routerLinkActive="active"><a routerLink="about" >About</a></li>
    </ul>
    <div class="navbar-brand">
      <span class="clarity--avatar-solid"></span>
    </div>
  </nav>
  