<article class="destination" #destination>
  <img class="image" src="https://images.musement.com/cover/0002/45/dubai-skyline-at-dusk-jpg_header-144981.jpeg" alt=""/>
  <div class="destination-information">
    <h2 class="title">Dubai</h2>
    <p class="text">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora
      voluptate error commodi at, modi facere voluptates! Amet adipisci
      reiciendis placeat quas, quae maiores dolores sunt deserunt veniam ullam
      nobis odio.
    </p>
  </div>
</article>
