<!--llamar los encapsulados de Isaac-->
<section class="visited-destinations">
  <h2 class="title">Most visited destinations</h2>
  <section class="destinations-container">
      <app-destination
        img="{{ Destinations[0].img }}"
        name="{{ Destinations[0].title }}"
        text="{{ Destinations[0].text }}"
      />
      <app-destination
        img="{{ Destinations[1].img }}"
        name="{{ Destinations[1].title }}"
        text="{{ Destinations[1].text }}"
      />
      <app-destination
        img="{{ Destinations[2].img }}"
        name="{{ Destinations[2].title }}"
        text="{{ Destinations[2].text }}"
      />
  </section>
</section>
