<section>
  <h3>Los Destinos mas visitados</h3>
  <div class="container">
    <div class="pic1">
      <img src="https://encrypted-tbn0.gstatic.com/licensed-image?q=tbn:ANd9GcRkEpM90Iak9Q3o8zyQ8JtIFqljlMU5JEZJIDGEtawGyGD2IeZxIMXJZF9F3SThEgWmnc5Q3Th4Jj20sUfVXpTIVVVCzTHU38SFvKMw9A" alt="Francia_Torre_Eiffel" class="image1">
      <p class="info">Francia es sinónimo del mejor arte y arquitectura. El país cautiva con sus inconfundibles iconos, estrellas al alza y todo un repertorio cultural que impacta por su volumen y variedad.</p>
    </div>
    <div class="pic2">
      <img src="https://lh5.googleusercontent.com/p/AF1QipPUTncdgQzogJ1bTDMPJJX3nqQjs0FZ4iDpf-he=w540-h312-n-k-no" alt="Brasil_playa" class="image2">
      <p class="info">Río de Janeiro, una de las ciudades más fascinantes de Brasil y del mundo entero. Sus famosas playas; su geografía montañosa al pie del océano Atlántico; su entorno 
        natural rodeado por el Parque Nacional da Tijuca; su grandioso carnaval y su fascinante historia, son algunos de los motivos que hacen de esta ciudad ser llamada de “Cidade Maravilhosa”.</p>
    </div>
    <div class="pic3">
      <img src="https://upload.wikimedia.org/wikipedia/commons/c/ca/Machu_Picchu%2C_Peru_%282018%29.jpg" alt="Perú_Machu_Picchu" class="image3">
      <p class="info">En lo alto de la montaña, grandes e impresionantes bloques de piedra unidos entre sí sin amalgama alguna conforman uno de los centros religiosos, políticos y culturales más importantes del imperio incaico: Machupicchu.</p>
    </div>
  </div>
</section>
