<div class="about-container">
  <div class="card">
    <header class="card-header">
      <div>
        <h1>About Us</h1>
        <p>Hi. We’re Amadeus.</p>
      </div>
    </header>
  </div>

  <div class="card about-card">
    <section class="card-content">
      <h2>About Amadeus</h2>
      <p>
        We’re reimagining every step of the journey. Our technology powers the
        global travel and tourism industry. Inspiring more open ways of working.
        More connected ways of thinking. Always with an eye on how the industry
        can evolve.
      </p>
      <a [href]="reportLink" target="_blank" class="report-link"
        >Read Amadeus Global Report 2023</a
      >
    </section>
  </div>

  <div class="card">
    <section class="card-content">
      <h2>Our People Set Us Apart</h2>
      <p>Passionate about travel and technology</p>
      <ul>
        <li>{{ peopleStats.employees }} Employees worldwide</li>
        <li>{{ peopleStats.nationalities }} Nationalities</li>
        <li>{{ peopleStats.recommend }} Recommend working at Amadeus</li>
        <li>{{ peopleStats.stay }} Plan to stay at Amadeus for 3 years</li>
        <li>{{ peopleStats.courses }} Courses provided to our employees</li>
      </ul>
    </section>
  </div>

  <div class="card leadership-card">
    <section class="card-content">
      <h2 class="white-color">Industry Leadership</h2>
      <p class="white-color">
        We strive for excellence. From technology leadership to being a champion
        of diversity and a great place to work, we are proud to be recognized as
        a leader in our industry around the world.
      </p>
    </section>
  </div>

  <div class="card">
    <section class="card-content">
      <h2>Transforming Travel Since 1987</h2>
      <p>
        Amadeus is committed to helping travel make a positive impact on our
        world and environment.
      </p>
      <a [href]="learnMoreLink" target="_blank" class="learn-more-link"
        >Learn more</a
      >
    </section>
  </div>
</div>
