<section class="questions-section">
  <h3 class="title">{{questions[QuestionsController.questionIndex].questionText}}</h3>
  <p class="description">
    {{questions[QuestionsController.questionIndex].questionHero}}
  </p>
  <div class="options-container">
    <app-input-response
      labelValue="{{questions[QuestionsController.questionIndex].options[0].value}}"
      [selectedOption]="selectedOption"
      (selectedOptionChange)="onOptionChange($event)"
    />
    <app-input-response
      labelValue="{{questions[QuestionsController.questionIndex].options[1].value}}"
      [selectedOption]="selectedOption"
      (selectedOptionChange)="onOptionChange($event)"
    />
    <app-input-response
      labelValue="{{questions[QuestionsController.questionIndex].options[2].value}}"
      [selectedOption]="selectedOption"
      (selectedOptionChange)="onOptionChange($event)"
    />
    <app-input-response
      labelValue="{{questions[QuestionsController.questionIndex].options[3].value}}"
      [selectedOption]="selectedOption"
      (selectedOptionChange)="onOptionChange($event)"
    />
  </div>
  <section class="btn-container">
    <app-button buttonText="Previous Question" [buttonFunction]="previousQuestion"/>
    <app-button buttonText="Next Question" [buttonFunction]="nextQuestion"/>
  </section>
</section>
